<div class="page-grid">

  <!-- Row 1 - full width -->
  <div class="row row1">
      <div class="card" *ngIf="gameStarted">
        <p-progressbar [value]="timeLapsed/0.3" showValue="false" />
      </div>
  </div>

  <!-- Row 2 - 75% + 25% -->
  <div class="row row2" *ngIf="gameStarted">
    <div class="col col-left">
      <p-card><h1>{{ currentRound}}</h1></p-card>
    </div>

    <div class="col col-right">
      <p-card><h1>Team {{ currentTeam! + 1}}</h1></p-card>
    </div>
    <div class="col col-right">
      <p-card><h1>Your Score: {{ scores[currentTeam!]}}</h1></p-card>
    </div>
    <div class="col col-right">
      <p-card><h1>Time Left: {{30 - timeLapsed}}</h1></p-card>
    </div>
  </div>

  <!-- Row 3 - full width, expands with content -->
  <div class="row row3" *ngIf="gameStarted">
        <p-card>
          <h1 class="preserve">{{ currentQuestion.question }}</h1>
          <img *ngIf="currentQuestion.type === 'image'"
              [src]="currentQuestion.image"
              class="question-image"/>
        </p-card>
        <p-card>
          <div class="options-grid">
            <div *ngFor="let option of currentQuestion.options" class="option-row">
              <p-radiobutton 
                  name="answer" 
                  [value]="option"
                  [(ngModel)]="selectedAnswer"
                  (click)="markAnswer(option)" [disabled]="tempCorrectAnswer != undefined || failedToAnswer == true">
              </p-radiobutton>
              <h3><label class="preserve" style="margin-left: 10px;">{{ option }}</label></h3>
            </div>
          </div>
          <div>
            <h2 *ngIf="tempCorrectAnswer == false" [style]="{color:'red'}">Your Answer is Incorrect, Correct Answer is '{{currentQuestion.answer}}'</h2>
            <h2 *ngIf="tempCorrectAnswer == true" [style]="{color:'green'}">'{{currentQuestion.answer}}' is the Correct Answer</h2>
            <h2 *ngIf="failedToAnswer == true" [style]="{color:'red'}">'{{currentQuestion.answer}}' is the Correct Answer</h2>
          </div>
        </p-card>
      <p-card>
        
          <button pButton label="Next" (click)="submitAnswer()" 
                  [disabled]="tempCorrectAnswer == undefined && failedToAnswer == undefined" class="mt-3">
          </button>
      
        </p-card>
    
    </div>

</div>







 
  
<div class="card flex justify-center">
  <p-confirmdialog key="startGame"/>
</div>
<p-confirmdialog key="start"/>
<p-confirmdialog key="roundStart"/>
<p-confirmdialog key="timeup"/>

<div class="card flex justify-center">
    <p-dialog header="Score Card" [modal]="true" [(visible)]="scoreCardVisible" [style]="{ width: '50rem' }" [maximizable]="true"  [breakpoints]="{ '1300px': '75vw', '575px': '90vw' }">
        <p-table [columns]="cols" [value]="scoreCard" showGridlines>
          <ng-template #header let-columns>
              <tr>
                  @for (col of columns; track col) {
                      <th>
                          {{ col.header }}
                      </th>
                  }
              </tr>
          </ng-template>
          <ng-template #body let-rowData let-columns="columns">
              <tr [style]="getRowStyle(rowData.index)">
                  @for (col of columns; track col) {
                      <td>
                          {{ rowData[col.field] }}
                      </td>
                  }
              </tr>
          </ng-template>
      </p-table>
    </p-dialog>
</div>
<div *ngIf="gameOver">
        <p-table [columns]="cols" [value]="scoreCard" showGridlines>
          <ng-template #header let-columns>
              <tr>
                  @for (col of columns; track col) {
                      <th>
                          {{ col.header }}
                      </th>
                  }
              </tr>
          </ng-template>
          <ng-template #body let-rowData let-columns="columns">
              <tr [style]="getRowStyle(rowData.index)">
                  @for (col of columns; track col) {
                      <td>
                          {{ rowData[col.field] }}
                      </td>
                  }
              </tr>
          </ng-template>
      </p-table>
</div>
  